fastapi
uvicorn
python-multipart
python-dotenv
GitPython
pydantic
llama-index
qdrant-client
llama-index-vector-stores-qdrant
fastembed
sentence-transformers
llama-index-embeddings-huggingface
llama-index-llms-openai
llama-index-llms-gemini
llama-index-llms-ollama
tree-sitter-language-pack
pypdf
docx2txt
Pillow
requests
pdfplumber
python-docx
pytesseract
psutil
